html{
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
}

body{
	padding: 0px;
	margin: 0px;
	width:100%;
	height: 100%;
}
.field1{
	position: relative;
	top:15%;
	left:15%;
	padding: 0px;
	margin: 0px;
	width:420px;
	height:435px;
	border:1px solid black;
	float: left;
}

.square{
	
	margin-right: 2px;
	position: relative;
	display:inline-block;
	width:38px;
	height: 38px;
	border:1px solid black;
}
.square:hover{
	background-color: grey;
}
.ship{
	background-color: black;
}
img{
	margin-left: 20px;
}
img:hover{
	cursor: pointer;
}
.ranking1{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:38px;
	height: 38px;
	background: black;
}
.ranking1g{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:38px;
	height: 38px;
	background: black;
}
.ranking2{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:38px;
	height: 80px;
}
.ranking2g{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:80px;
	height: 38px;
}
.ranking3{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:38;
	height: 120px;
}
.ranking3g{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:120px;
	height: 38px;
}
.ranking4{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:38px;
	height: 160px;
}
.ranking4g{
	font:sans-serif;
	font-weight: bold;
	position: relative;
	top:80%;
	width:160px;
	height: 38px;
}